# Default ignored files
.idea/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
includes/droppers/raw
composer.json
test.php
/vendor/
/includes/droppers/dynamic/obfuscated/
/includes/droppers/dynamic/raw/
includes/config/Dumped-Database/
